body {
font-family: 'Comfortaa', sans-serif; 
}
/* color scheme is Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */

#heads {
    background-color: #333D51; 
    Color: #D3AC2B; 
    height: 200px;
    padding: 10px;
    border-radius: 20px; 
    }

h1 {
    font-weight: bold; 
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 80px; 
}

#subhead{
    font-family: 'barlow condensed', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 5px;
    }

#welcome{
   background-color: #F4F3EA;
   color: #333D51;
   box-shadow: 10em;
   width: 45%;
   box-align: left;
   padding: 5px;
   text-align: left;
   border: solid 333D51 10px;
   border-radius: 5px;
   margin-right: 5px;
   margin-left: 5px;
   }
