body {
font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
color: #333D51;
line-height: 150%;
}
/* color scheme is Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */


#heads {
    Color: #333D51; 
    height: 200px;
    padding: 10px;
    box-align: center;
    font-weight: bold; 
    font-family:  "Lucida Bright", Georgia, serif; 
    font-size: 80px; 
    text-align: center;
    text-transform: uppercase;
    margin-top: -50px;
    box-align: center; 
  
        }

        h1{
    border-bottom: 2px solid #D3AC2B;
    height: 220px;   
        }
.menunav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: -16px;
    width: 600px;
    height: 25px;
    margin-left: 425px;
}
#menuhome{
    order: 1;
}
#menuabout{
    order: 2;
}
#menuhistory{
    order: 3;
}
#menubooks{
    order: 4;
}
#tag{
    text-align: center;
    box-align: center;
    font-style: italic;
    margin-top: 80px;
    color: #CBD0D8;
    font-size: 30px;
    font-weight: 50;
}
/* try to get a line to seperate the header form the body of the homepage */

#welcome{
   color: #333D51;
   width: 350px;
   height: 200px;
   box-align: right;
   float: right;
   padding: 10px;
   text-align: right;
   margin-top: 120px;
   font-weight: 100;
   margin-right: 50px;
      }

   .accent{
       font-style: italic;
       font-weight: bold;
       color: #333D51;      

   }
   .quote {
       font-style: italic;
       text-align: center;
       font-weight: 50;
       font-size: 20px;
       color: #D3AC2B;
       }
.summaries {
margin-left: 80px;
width: 900px;
position: relative;
margin-top: 50px;
Border-right: 1.5px solid #D3AC2B

}
a {text-decoration: none;
    color: #333D51;
}
   a:hover{ 
    color: #D3AC2B;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
}
    
    
#sumone{
    padding: 10px;
   
}
.sumhead{
    font-weight: bold;
    color: #333D51;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0px;
}
.title{
    text-transform: uppercase;
    font-weight: lighter;
    color: #D3AC2B;
    font-size: 20px;
    margin-top: 0px;
    }
.sumpara{
    color: #333D51;
    font-size: 15px;
    font-weight: lighter
}  
#sumtwo{
    Padding: 10px;
    
}  
#sumthree {
    padding: 10px;
    
}
.bloghead {
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: light;
     background-image: url("/styles/images/beach1.jpg")       
    /*get back ground image */
    
       }
.post {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: 100;
    text-decoration: none;
    margin-left: 60px;
    font-size: 20px;
}
#beliefs { 
    width: 600px;
    height: 650px;
    float: left;
    padding: 10px;
    font-weight: lighter;
    border-left: 2px solid #CBD0D8;
    margin-left: 20px;
    font-size: 17px;
}
#babyT {
 transform: rotate(90deg);     
  margin-left: 400px;
  margin-right: 200px;
  margin-top: 70px;
  position: relative;
  top: -65px;
  left: -60px;
}
#stengthlist{
    margin-top: 10px;
    color: #333D51;
    border-radius: 10px;
    text-align: right;
    font-weight: 100;
    margin-left: 150px;
    width: 400px;
    height: 100px;
    box-align: left;

}
#strengths{
    margin-left: 800px;
    padding: 10px;
    width: 600px;
    height: 450px;
    font-weight: 100;
    font-size:15px;
    border-bottom: 2px solid #CBD0D8;
    margin-right: 50px;
    Margin-top: 5px;
    position: relative;
    text-align: right;

}
#beach {
    position: relative;
    margin-left: 90px;
    margin-right: 90px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}
table{
    border-collapse: collapse;   
    border-spacing: 2px;
    width: 90%;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
   position: relative;
   font-family: inherit;
   font-size: 17px;
    }
table td {
    border: 1px solid #CBD0D8; 
    padding: 10px;
    width: 400px;
    height: 400px;
    vertical-align: top;
}
table th{
    border: 1px solid #CBD0D8;
    padding: 10px;
    vertical-align: top;
}

.posttag{ 
    color: #CBD0D8;
    font-size: 20px;
    font-style: italic;
    margin-top: -45px;
    font-weight: lighter;
    margin-bottom: 60px;
    border-bottom: 2px solid #D3AC2B;
    
}
/*start of css particular to technical blog post*/


.p2brief{
    width: 185px;
    height: 190px;
    position: relative;
}
#boxmodel{
    float: right;
}
.p2margin{
    width: 360px;
    height:400px;
    position: relative;
}
#margindemoimage{
    float: right;
    border: 0.5px solid #CBD0D8;
}
#marginnote{
    float: right;
    text-align: left;
}
.p2border{
    width: 420px;
    height: 470px;
    position: relative;
}
#borderdemoimage{
    float: right;
    border: 0.5px solid #CBD0D8;
}
.p2padding{
    width: 450px;
    height: 450px;
    position: relative;
}
#paddingdemoimage{
    float: left;
    border: 0.5px solid #CBD0D8;
}
/*images start here*/