body {
font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
color: #333D51;
line-height: 150%;
background-color: #D3AC2B;
}
/* color scheme is Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */

.page-content{
    font-family:  "Futura", "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    background-color: ghostwhite;
    word-spacing: 0.3em;
    font-size: 15px;
    height: auto;
    width: 1000px;

}
#heads {
    Color: #333D51; 
    height: 200px;
    padding: 10px;
    box-align: center;
    font-weight: bold; 
    font-family:  "Lucida Bright", Georgia, serif; 
    font-size: 80px; 
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    box-align: center; 
  
        }

        h1{
    border-bottom: 2px solid #D3AC2B;
    height: 220px;   
        }
.menunav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 600px;
    height: 25px;
    margin: 50px auto 0 auto;
    font-size: 15px;
}
#menuhome{
    order: 1;
}
#menuabout{
    order: 2;
}
#menuhistory{
    order: 3;
}
#menubooks{
    order: 4;
}
#tag{
    text-align: center;
    box-align: center;
    font-style: italic;
    color: #CBD0D8;
    font-size: 30px;
    font-weight: 50;
}
/* try to get a line to seperate the header form the body of the homepage */

#welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: flex-end;
    box-align: center;
   color: #333D51;
   width: 700px;
   height: 350px;
   padding: 10px;
   text-align: right;
   margin: auto;
  position: relative;
  }

  #listlabel{
      position: relative;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid #D3AC2B;
      margin: auto;
      width: 500px;
      top: 20px;
  }

   .accent{
       font-style: italic;
       font-weight: bold;
       color: #333D51;      

   }
   .quote {
       font-style: italic;
       text-align: center;
       font-weight: 50;
       font-size: 20px;
       color: #D3AC2B;
       }
.summaries {
    display: flex;
    margin: auto;
    width: 900px;
    position: relative;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    top: 50px;
   }
a 
{text-decoration: none;
    color: #333D51;
}
   a:hover{ 
    color: #D3AC2B;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
}
    
    
#sumone{
    padding: 10px;
    order: 1;
    width:350px;
    height: 400px;
    order: 1;
   
}
.sumhead{
    font-weight: bold;
    color: #333D51;
    text-transform: uppercase;
    font-size: 30px;
    margin:5px auto 0 autoS;
}
.title{
    text-transform: uppercase;
    font-weight: lighter;
    color: #D3AC2B;
    font-size: 20px;
    margin:auto;
    }
.sumpara{
    color: #333D51;
    font-size: 15px;
    font-weight: lighter;
    margin: 0 auto 15px auto;
}  
#sumtwo{
    Padding: 10px;
    order: 2;
    width:350px;
    height: 400px;
    
}  
#sumthree {
    padding: 10px;
    order: 3;
    width:350px;
    height: 400px;
    
}
#sumfour {
    padding: 10px;
    order: 4;
    width: 350px;
    height: 400px;
}
/*start of about me post css*/

.post-content{
    font-family:  "Futura", "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    background-color: ghostwhite;
    word-spacing: 0.3em;
    font-size: 15px;
    height: 1500px;
    width: 1000px;
   }
.post {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: 100;
    text-decoration: none;
    font-size: 15px;
    background-color: #D3AC2B;
    min-height: 100%;
       
}
.bloghead {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 0 25px 0;

}
.posttag{ 
    color: #CBD0D8;
    font-size: 20px;
    font-style: italic;
    margin: auto;
    font-weight: lighter;
    border-bottom: 2px solid #D3AC2B;
    position: relative;
    padding: 12px;
    top: -70px;
    width: 1000px;
    
    
}
#bmenunav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 600px;
    height: 25px;
    margin: auto;
    top: -50px;
    font-size: 15px;
    position: relative;
}
#menuhome{
    order: 1;
}
#menuabout{
    order: 2;
}
#menuhistory{
    order: 3;
}
#menubooks{
    order: 4;

}
#beliefs { 
    position: relative;
    font-weight: light;
    font-size: 15px;
    height: auto;
    margin: 50 auto 0 auto;
    width: 450px;
    float: left;
    padding: 10px;
    left: 50px;
    }

#stengthlist{
    font-weight: 100;
    margin-left: 150px;
    width: 300px;
    box-align: left;
    position: relative;

}
.strengths{
    margin: auto;
    padding: 10px;
    width: 470px;
    height: auto;
    position: relative;
}
#louvre1{
    margin: auto;
    position: relative;
    top: 50px;
    left: 100px;
    border-radius: 50%;
    width: 200px;
    left: 150px;
    top: 50px;
   }

#greatzim{
    margin: auto;
    position: relative;
    border-radius: 50%;
    width: 200px;
    left:-60px;
    top: 290px;
}

#strengthhead{
    color: #CBD0D8;
    font-size: 20px;
    margin: auto;
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: 2px solid #D3AC2B;
    position: relative;
    padding: 12px;
    width: 500px;
    top: 320px;

}

.table{
    font-size: 12px;

}
table{
    border-collapse: collapse;   
    border-spacing: 2px;
    width: 850px;
    margin: auto;
    top: 100px;
   position: relative;
   font-family: inherit;
   font-size: 15px;
   position: relative;
    }
table td {
    border: 1px solid #CBD0D8; 
    padding: 10px;
    width: 355px;
    vertical-align: top;
}
table th{
    border: 1px solid #CBD0D8;
    padding: 10px;
    vertical-align: top;
}


/*start of css particular to technical blog post*/


.p2brief{
    width: 185px;
    height: 190px;
    position: relative;
}
#boxmodel{
    float: right;
}
.p2margin{
    width: 360px;
    height:400px;
    position: relative;
}
#margindemoimage{
    float: right;
    border: 0.5px solid #CBD0D8;
}
#marginnote{
    float: right;
    text-align: left;
}
.p2border{
    width: 420px;
    height: 470px;
    position: relative;
}
#borderdemoimage{
    float: right;
    border: 0.5px solid #CBD0D8;
}
.p2padding{
    width: 450px;
    height: 450px;
    position: relative;
}
#paddingdemoimage{
    float: left;
    border: 0.5px solid #CBD0D8;
}


/*this is the site footer*/
html, body {
    height: 100%;
    margin: 0;
  }
  /*for blog post footers*/
 
  .post-content{
    padding: 20px;
    padding-bottom: 50px;
  }
  /*for index file footer*/
  .page{
      min-height: 100%;
  }
  .page-content{
      padding: 20px;
      padding-bottom: 50px;
  }
  /*site footer style*/
.site-footer{
    height: 50px;
    border-top: 1px solid #D3AC2B;
    font-size: 10px;
    font-weight: 50;
    margin-top: 100px;
    position: fixed;
    left:0px;
   bottom:0px;
}

/*as in the sprint2 style sheet*/
body {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    line-height: 150%;
    }
    /* color scheme is Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */
/*Post inform style*/
.post {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: 100;
    text-decoration: none;
    margin-left: 60px;
    font-size: 15px;
}
    /*Menu navigation bar*/
   
    .accent{
        font-style: italic;
        font-weight: bold;
        color: #333D51;   
    }

    a {
        text-decoration: none;
        color: #333D51;
}
   a:hover{ 
    color: #D3AC2B;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
}
.quote {
    font-style: italic;
    text-align: center;
    font-weight: 50;
    font-size: 20px;
    color: #D3AC2B;
    }
#p3head{
    text-transform: uppercase;
    width: 1000px; /*new*/
    height: 50px;
    border-bottom: 2px solid #D3AC2B;/*new*/
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    padding: 10px;
    margin: auto;
    top: 50px;
    position: relative;

}
/*syle for boxes*/
.obj{
    border-radius: 10px;
    box-shadow:  0 10px 6px -6px #777;
    background-color: #333D51;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 10px;
    color: #F4F3EA;

}
/*flex-boxs*/
#objects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    top: 30px; 
    width: 700px;
    margin: auto;
    position: relative;

}
.obj-goal{
    order: 1;
    margin: 25px 25px auto 25px;
}
.obj-skill{
    order: 2;
    margin:25px 25px 0 25px;
}
.obj-strength{
    order: 3;
    margin:25px 25px 0 25px;
}
.obj-balance{
    order: 4;
    margin: 25px 25px 0 25px;
}
/*Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */
/*headings*/
.h3{
    color: #F4F3EA;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
/*learning community box*/
.community{
    box-align: center;
    position: relative;
    width: 850px;
    height: 250px;
    padding: 12px;
    box-shadow:  0 10px 6px -6px #777;
    top: 50px; /*new*/ 
    position: relative; 
    margin: auto;
}
.hh3{
    color:#CBD0D8;
}

.s2quote{
    box-align: center;
    position: relative;
    padding: 10px;
    border-bottom: 2px dotted #CBD0D8;
    width: 800px;
    margin: auto;
    text-align: center;
    top: 100px;
}
/*sticky footer*/
html, body {
    height: 100%;
    margin: 0;
  }
  /*for blog post footers*/
  .post{
    min-height: 100%;
  }
  .post-content{
    padding: 20px;
    padding-bottom: 50px;
  }
  /*for index file footer*/
  .page{
      min-height: 100%;
  }
  .page-content{
      padding: 20px;
      padding-bottom: 50px;
      
  }
  /*site footer style*/
.site-footer{
    height: 50px;
    border-top: 1px solid #D3AC2B;
    font-size: 10px;
    font-weight: 50;
    margin-top: 100px;
    position: fixed;
    left:0px;
   bottom:0px;
}

/*start of CSS for emotional intelligence post*/
.page4-content{
    width: 1500px;
    background-color: ghostwhite;
    font-family:  "Futura", "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    word-spacing: 0.3em;
    font-size: 15px;
}
.post4-container{
    display: grid;
    grid-template-columns: [col-start] 300px [col2] 300px [col3] auto [col4] auto [colend];
    grid-template-rows: [row-start]200px [row2]200px [row3]auto [row4] auto [rowend];
    grid-template-areas:
    "Navigation Navigation Navigation Navigation"
    "heading heading para1 para1"
    "heading heading para1 para1"
    "para2 para2 para2 para2";
    justify-content: center;
    align-content: center;
}

 /*item 1 of grid container*/
.p4bloghead{
    grid-area: Navigation;
    grid-area:  row-start/col-start/row2/colend;
    justify-self: center;
    align-self: start;
    width: 1495px;
    border-bottom: 3px solid #D3AC2B;

}

/*item 2 of grid container*/
.p4bighead{
    grid-area: heading;
    grid-column-start: col-start;
    grid-column-end: col3;
    grid-row-start:  row2;
    grid-row-end: row4; 
    justify-self: center;   
    align-self: center;
    background-color: #333D51;
    color: #D3AC2B;  
    width: 550px;
    height: 600px;  
    
}
#p4headtop{
    text-align: center;
    position: relative;
    top:150px;
    border-bottom: 2px solid #D3AC2B;
    vertical-align: center;
    }
#h1p4{
    text-align: start;
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    height: 150px;
    margin: auto;
    top: 165px;
    vertical-align: center;
}
#p4headbottom{
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: 15px auto auto auto;
    top: 170px;
    vertical-align: center;
}
.p4paras-1{/*item 3 of grid continer*/
    grid-area: para1;
    grid-column-start: col3;
    grid-column-end: colend;
    grid-row-start: row2;
    grid-row-end: row4;
    justify-self: start;  
    align-self: start;
    width: auto;

}
.p4paras-2{/*item 4 of grid container*/
    grid-area: para2;
    grid-column-start: col-start;
    grid-column-end: colend;
    grid-row-start: row4;
    grid-row-end: rowend;
    justify-self: start;
    align-self: start;
    width: auto;
    height: 300px;
    position: relative;
    
}
.p4paras{
    padding: 5px;
}
/* Sprint 3 technical starts here */
.post5{
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: 100;
    text-decoration: none;
    font-size: 15px;
    background-color: #D3AC2B;
    min-height: 100%;
}
/* Grid */
#page5-container{
    width: 900px;
    background-color: ghostwhite;
    font-family:  "Futura", "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    word-spacing: 0.3em;
    font-size: 15px;
    display: grid;
    justify-content: start;
    align-content: start;
    grid-template-columns: [col-start] 800px [col-end];
    grid-template-rows: [row-start]100px [row2]50px [row3]auto [row-end];
    grid-template-areas:
    "header"
    "menu"
    "response";    
}
#page5-head{
    order: 1;
    grid-area:header;

}
.p5menunav{
    order: 2;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 600px;
    height: 25px;
    margin: auto;
    top: -50px;
    font-size: 15px;
    position: relative;
}
#menuhome{
    order: 1;
}
#menuabout{
    order: 2;
}
#menuhistory{
    order: 3;
}
#menubooks{
    order: 4;

}
#response{
    order: 3;
    grid-area: response;
    height: auto;
    width: 790px;
    margin: auto;
    justify-self: center;
}
#Q1{
    position: relative;
    padding: 5px;
}
.QUE{
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #D3AC2B;
}
#Q2{
    position: relative;
    padding: 5px;
}
#Q3{
    position: relative;
    padding: 5px;
}
#Q4{
    position: relative;
    padding: 50px;
}
#Arr{
    list-style-type:none;

}
.code{
    color: #333D51;
    background-color: #F4F3EA;
    border: 0.5px solid #CBD0D8;
    /* CBD0D8 / F4F3EA */
    border-radius: 10px;
}
.funclist{
    list-style-type: none;
}