/*sprint2 style sheet*/
body {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    line-height: 150%;
    }
    /* color scheme is Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA */
/*Post inform style*/
.post {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: 100;
    text-decoration: none;
    margin-left: 60px;
    font-size: 15px;
}
    /*Menu navigation bar*/
    .menunav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: 30%;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin-top: -16px;
        width: 600px;
        height: 25px;
        margin-left: 425px;
        margin-bottom: 30px;
    }
    #menuhome{
        order: 1;
    }
    #menuabout{
        order: 2;
    }
    #menuhistory{
        order: 3;
    }
    #menubooks{
        order: 4;
    }

    .accent{
        font-style: italic;
        font-weight: bold;
        color: #333D51;   
    }

    a {
        text-decoration: none;
        color: #333D51;
}
   a:hover{ 
    color: #D3AC2B;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
}
.quote {
    font-style: italic;
    text-align: center;
    font-weight: 50;
    font-size: 20px;
    color: #D3AC2B;
    }
#p3head{
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
    height: 50px;
    width: 1300px; /*new*/
    border-bottom: 2px solid #D3AC2B;/*new*/
}
/*syle for boxes*/
.obj{
    border-radius: 10px;
    box-shadow:  0 10px 6px -6px #777;
    background-color: #CBD0D8;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 10px;

}
/*flex-boxs*/
#numerator{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top:10px; /*new*/
    left: 0px; /*new*/
    width: 800px;

}
.obj-goal{
    order: 1;
    margin-right: 25px;
}
.obj-skill{
    order: 2;
    margin-left: 25px;
}
#denominator{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -263px; /*new*/
    left: 640px; /*new*/
    width: 800px;
}
.obj-strength{
    order: 1;
    margin-right: 25px;
}
.obj-balance{
    order: 2;
    margin-left: 25px;
}

/*headings*/
.h3{
    color: #F4F3EA;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
/*learning community box*/
.community{
    box-align: center;
    position: relative;
    width: 1250px;
    height: 200px;
    padding: 12px;
    box-shadow:  0 10px 6px -6px #777;
    top: -225px; /*new*/  
}
.hh3{
    color:#CBD0D8;
}

.s2quote{
    box-align: center;
    position: relative;
    padding: 10px;
    border-bottom: 2px dotted #CBD0D8;
    width: 1200px;
    text-align: center;
    top: -222px;
}
/*sticky footer*/
html, body {
    height: 100%;
    margin: 0;
  }
  /*for blog post footers*/
  .post{
    min-height: 100%;
  }
  .post-content{
    padding: 20px;
    padding-bottom: 50px;
  }
  /*for index file footer*/
  .page{
      min-height: 100%;
  }
  .page-content{
      padding: 20px;
      padding-bottom: 50px;
      
  }
  /*site footer style*/
.site-footer{
    height: 50px;
    border-top: 1px solid #D3AC2B;
    font-size: 10px;
    font-weight: 50;
    margin-top: 100px;
    position: fixed;
    left:0px;
   bottom:0px;
}

    /*.lsnone list style type:none*/