
.post {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    color: #333D51;
    text-align: left;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 60px;
    font-size: 20px;
}
a 
{text-decoration: none;
    color: #333D51;
}
   a:hover{ 
    color: #D3AC2B;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
}
.accent{
    font-style: italic;
    font-weight: bold;
    color: #333D51; 
}
.p2bloghead{
    width: 1000px;
    height: 200px;
    font-size: 45px;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
}
.posttag{ 
    color: #CBD0D8;
    font-size: 20px;
    font-style: italic;
    margin-top: -45px;
    font-weight: lighter;
    margin-bottom: 60px;
    border-bottom: 2px solid #D3AC2B;
    position: relative;
}
.menunav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: -16px;
    width: 600px;
    height: 25px;
    margin-left: 425px;
}
#menuhome{
    order: 1;
}
#menuabout{
    order: 2;
}
#menuhistory{
    order: 3;
}
#menubooks{
    order: 4;
}
.p2brief{
    width: 500px;
    height: 210px;
    top:100px;
    left: 150px;
    position: relative;
    font-size: 15px;
    border-left: 2px solid #CBD0D8;
    padding: 10px;
}
#boxmodel{
    float: right;
    margin: -100px 200px 0 300px;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    positiom:relative;
}
.p2margin{
    width: 600px;
    height:280px;
    top: 100px;
    left: 750px;
    margin: 10px 0 0 10px;
    font-size: 15px;
    border-left: 2px solid #CBD0D8;
    padding: 10px;
    position: relative;
}
#marginimage{
    float: left;
    width: 50%; 
    margin-top: -180px;
    position: relative;
}

#marginnote{
    float: left;
    text-align: left;
    width: 600px;
    height: 50px;
    margin: 150px 0 15px 0px;
    font-size: 15px;
    position: relative;
    /*margin-left: 0px;margin-top: 150px;*/
}
.p2border{
    width: 420px;
    height: 470px;
    position: relative;
    border-left: 2px solid #CBD0D8;
    left: 150px;
    top: 190px;
    padding: 10px;
    position: relative; 
    font-size: 15px;
}
#borderimage{
    float: right;
    position: relative;
    width: 50%;
    top: -200px;
    position: relative;
}

.p2padding{
    width: 450px;
    height: 450px;
    position: relative;
    border-left: 1px solid #CBD0D8;
    font-size: 15px;
    padding: 10px;
    left: 800px;
    top: 90px;
}
#paddingimage{
    float: left;
    position: relative;
 }
 